#Q.1 Write a code to create a string with your name and print it

In [2]:
# Create a string variable with my name
name = "Harshada"

# Print the name
print(name)

Harshada

#Q.2 Write a code to find the length of the string "Hello World"

In [3]:
# Define the string
greeting = "Hello World"

# Calculate the length of the string
length = len(greeting)

# Print the length
print(f"The length of the string '{greeting}' is: {length}")

The length of the string 'Hello World' is: 11

# Q.3  Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[:3]

# Print the sliced substring
print(first_three)

Pyt

# Q.4  Write a code to convert the string "hello" to uppercase

In [5]:
# Define the string
greeting = "hello"

# Convert the string to uppercase
uppercase_greeting = greeting.upper()

# Print the uppercase string
print(uppercase_greeting)

HELLO

# Q.5  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
# Define the string
sentence = "I like apple"

# Replace the word "apple" with "orange"
modified_sentence = sentence.replace("apple", "orange")

# Print the modified sentence
print(modified_sentence)

I like orange

# Q.6  Write a code to create a list with numbers 1 to 5 and print it

In [8]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

# Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
# Define the initial list
numbers = [1, 2, 3, 4]

# Append the number 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

# Q.8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

# Q.9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element
second_element = letters[1]

# Print the second element
print(second_element)

b

# Q. 10  Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list in place
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

# Q. 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
# Create a tuple with the elements 100, 200, 300
numbers = (100, 200, 300)

# Print the tuple
print(numbers)

(100, 200, 300)

# Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last_color = colors[-2]

# Print the second-to-last element
print(second_to_last_color)

blue

# Q. 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_number = min(numbers)

# Print the minimum number
print(min_number)

5

# Q. 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of the element 'cat'
index_of_cat = animals.index('cat')

# Print the index
print(index_of_cat)

1

# Q. 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
# Create a tuple with three different fruits
fruits = ('apple', 'banana', 'cherry')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Yes, 'kiwi' is in the fruits tuple.")
else:
    print("No, 'kiwi' is not in the fruits tuple.")

No, 'kiwi' is not in the fruits tuple.

# Q. 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'c', 'a', 'b'}

# Q. 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
# Create a set with elements 1, 2, 3, 4, 5
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the empty set
print(numbers)

set()

# Q.  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
# Create a set with elements 1, 2, 3, 4
numbers = {1, 2, 3, 4}

# Remove the element 4 from the set
numbers.remove(4)

# Print the updated set
print(numbers)

{1, 2, 3}

# Q. 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5}

# Q. 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the result
print(intersection_set)

{2, 3}

# Q. 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
# Create a dictionary
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

# Q.  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
# Existing dictionary
person = {
    'name': 'John',
    'age': 25
}

# Adding a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# Q. 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
# Dictionary
person = {
    'name': 'Alice',
    'age': 30
}

# Access the value associated with the key 'name'
name_value = person['name']

# Print the value
print(name_value)

Alice

# Q.  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
# Dictionary
person = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}

# Remove the key 'age' from the dictionary
del person['age']

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

# Q.  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
# Dictionary
person = {
    'name': 'Alice',
    'city': 'Paris'
}

# Check if the key 'city' exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# Q.  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

# Q. 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [29]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted List:", random_numbers)

Sorted List: [38, 44, 56, 57, 92]

# Q.28. Write a code to create a list with strings and print the element at the third index.

In [30]:
# Create a list with strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at the third index:", string_list[3])

Element at the third index: date

# Q. 29. Write a code to combine two dictionaries into one and print the result.

In [31]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the two dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

# Q.  30. Write a code to convert a list of strings into a set.

In [32]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list into a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'date', 'cherry', 'banana', 'apple'}